
* {
    font-family: sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    font-family: Raleway;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    font-family: Lato;
    font-weight: 300;
}

h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Open Sans;
    font-size: 16px;
    font-family: Lato;
}

p {
    font-size: 16px;
    margin: 5px;
    font-family: Open Sans;
}

text {
    font-family: Nova Mono, monospace;
}

.label {
    font-family: Lato, sans-serif;
}

#buttons-and-text {
    text-align: center;
    display: flex;
    margin: auto;
    max-width: 700px;
}

#text {
    display: inline-block;
    flex: 4;
}

#graphic {
    width: 580px;
    height: 400px;
    text-align: center;
    margin: auto;
    align-items: center;
}

#gauges {
    width: 300px;
    height: 300px;
    text-align: center;
    margin: 0;
    margin-left: 10px;
    display: inline-block;
}

#vizContainer {
    display: flex;
    padding-top: 20px;
}

#map {
    width: 250px;
    height: 300px;
/*    background-color: #0D7AC4;*/
    margin: 0;
    display: inline-block;
}

img {
    display: block;
    margin: auto;
}

.button-div {
    flex: 1;
}

button {
    margin-top: 50px;
}

.chart {
    display: inline-block;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

input {
    display: block;
    margin: auto;
}

#sliderContainer {
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 3px;
    border-radius: 1px;   
    background: #0D7AC4;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 10px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: black;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
}

.tooltip {
    position: absolute;
}

.chart circle, .chart path {
    transition: fill .5s, stroke .5s;
}

.chartSVG * {
    pointer-events: none;
}

.res {
    transition: fill .5s, stroke .5s;
}

.res-name {
    font-family: Nova Mono;
    font-size: 16px;
}

.domain {
    stroke-width: 1;
    stroke: black;
    fill: none;
}

#line-graph {
    margin-top: 50px;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.x text {
    transform: translate(0px, 5px);
}

.y text {
    transform: translate(-5px, 0px);
}